# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
data/models/*.joblib
data/models/*.pkl

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Postgres / Docker volumes
postgres_data/

# Logs
*.log
